.button{
    -fx-background-color: #2222e6;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-border-color: black;
}

.label{
    -fx-text-fill: darkblue;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14;
}

#titleLabel{
    -fx-font-size: 50;
}